



  <div id="main-container">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Knjižnica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Početna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="onOpenModal(null, 'add')">Dodaj autora i knjigu</a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pretraži" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pretraži</button>
          </form>
        </div>
      </nav>
      <!--DODAJ MODEL-->
      <div class="modal fade" id="dodajAutora" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Dodaj knjižnicu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                 <form #addForm="ngForm" (ngSubmit)="dodajAutora(addForm)">
                <div class="form-group">
                   <label for="name">Ime</label>
                   <input type="text" ngModel name="ime" class="form-control" id="ime" placeholder="Ime" required>
                </div>
                <div class="form-group">
                   <label for="email">Prezime</label>
                   <input type="email" ngModel name="prezime" class="form-control" id="prezime" placeholder="Prezime" required>
                </div>
                <div class="form-group">
                  <label for="email">Naziv knjige</label>
                  <input type="email" ngModel name="nazivknjige" class="form-control" id="nazivknjige" placeholder="Naziv knjige" required>
               </div>
                <div class="modal-footer">
                   <button type="button" id="zatvori" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                   <button  [disabled]= "addForm.invalid" type="submit" class="btn btn-primary" >Spremi promjene</button>
                </div>
            </form>
            
             </div>
          </div>
        </div>
        </div>


        <!--UREDI MODEL-->
        <div class="modal fade" id="urediAutora" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Uredi podatke o autoru i knjizi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                     <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="name">ID</label>
                        <input type="hidden" ngModel="{{urediAutor?.idBroj}}" name="id" class="form-control" id="ID" placeholder="ID" required>
                     </div>
                    <div class="form-group">
                       <label for="name">Ime</label>
                       <input type="text" ngModel="{{urediAutor?.ime}}" name="name" class="form-control" id="ime" placeholder="Ime" required>
                    </div>
                    <div class="form-group">
                       <label for="email">Prezime</label>
                       <input type="email" ngModel="{{urediAutor?.prezime}}" name="email" class="form-control" id="prezime" placeholder="Prezime" required>
                    </div>
                    <div class="form-group">
                      <label for="email">Naziv knjige</label>
                      <input type="email" ngModel="{{urediAutor?.nazivknjige}" name="email" class="form-control" id="prezime" placeholder="Naziv knjige" required>
                   </div>
                    <div class="modal-footer">
                       <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                       <button (click)="promjeniAutora(editForm.value)" data-dismiss="modal" type="submit" class="btn btn-primary">Spremi promjene</button>
                    </div>
                </form>
                 </div>
              </div>
            </div>
            </div>
            <!--IZBRISI MODEL-->
            <div class="modal fade" id="izbrisiAutora" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                   <div class="modal-content">
                      <div class="modal-header">
                         <h5 class="modal-title" id="deleteModelLabel">Izbriši knjižnicu</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                         </button>
                      </div>
                      <div class="modal-body">
                       <!--<p>Jeste sigurni da želite izbrisati autora{{autor?.ime}}?</p>-->  
                         <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                            <button class="btn btn-danger" data-dismiss="modal">Da</button>
                         </div>
                      </div>
                   </div>
                </div>
              </div>
              </div>


    <div class="container px-0">
        <div class="row mt-4">
            <div class="col-12 col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center text-150">
                            <i class="fa fa-book fa-2x text-success-m2 mr-1"></i>
                            <span class="text-default-d3">Knjižnica
                            </span>
                        </div>
                    </div>
                </div>
                <!-- .row -->

                <hr class="row brc-default-l1 mx-n1 mb-4" />

                

                    
           

                <div class="mt-4">
                    <div class="row text-600 text-white bgc-default-tp1 py-25">
                        <div class="d-none d-sm-block col-1">ID</div>
                        <div class="col-9 col-sm-5">IME</div>
                        <div class="d-none d-sm-block col-4 col-sm-2">PREZIME</div>
                          <div class="d-none d-sm-block col-4 col-sm-2">NAZIV KNJIGE</div>
                       
                    </div>

                    <div *ngFor="let autor of autori" class="text-95 text-secondary-d3">
                        <div class="row mb-2 mb-sm-0 py-25">
                            <div class="d-none d-sm-block col-1">{{autor?.idBroj}}</div>
                            <div class="col-9 col-sm-5">{{autor?.ime}}</div>
                            <div class="d-none d-sm-block col-2">{{autor?.prezime}}</div>
                            <div class="d-none d-sm-block col-2">{{autor?.nazivKnjige}}</div>
                            <button (click)="onOpenModal(autor, 'edit')" type="button" class="btn btn-primary" style="margin:5px;" >Uredi</button>
                            <button (click)="onOpenModal(autor, 'delete')" type="button" class="btn btn-danger" style="margin:5px;" >Izbriši</button>
                            
                        </div>
                        
                    </div>

                    <div class="row border-b-2 brc-default-l2"></div>


                    <hr />

                    
                </div>
            </div>
        </div>
    </div>

    <!-- Notification for no employees -->
<div class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Nije dodana niti jedna knjiga.</h4>
      <p>Knjige nisu dodane.</p>
    </div>
    </div>
